<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="AvantCraft_nomina2017Entities" connectionString="metadata=res://*/XML2TXTModel.csdl|res://*/XML2TXTModel.ssdl|res://*/XML2TXTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.9.172\SQLEXPRESS;initial catalog=AvantCraft_nomina2017;persist security info=True;user id=nomina;password=nomina;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
